.login-input {
    height: 100px;

    .login-label {
        display: inline-block;
        width: 100px;
    }

    .login-field {
        margin-top: 40px;
        border: 2px solid aliceblue;
        border-radius: 8px;
        height: 30px;
    }
}

.btn-field {
    text-align: center;
}

.login-btn {
    display: block;
    width: 120px;
    margin: 10px auto;
}

.register-btn {
    width: 120px;
    border: 2px solid #FF82B2;
    background-color: #FF82B2;
    border-radius: 10px;
    color: aliceblue;
    box-shadow: 2px 2px 10px 0 aliceblue 
}