.main-content
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.box-image
{
    margin-top: 10px;
    margin-right: 40px;
}

.list-image 
{
  width: 150px;
  height: 150px;
}

.main-input
{
    width: 150px;
    height: 26px;
    border-radius: 8px;
    border:3px solid #FFCCCC;
    outline: none;
    padding: 4px;
}

.main-button 
{
    height: 35px;
    border-radius: 8px;
    border:3px solid #FF9966;
    background-color: #FF9966;
    color: #FFFFFF;
}

.main-box 
{
    margin-right: 40px;
}

.main-description
{
    font-weight: bold;
    color: #FF9966;
}