#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

.top-header {
    width: 100%;
    background-color:#FF9966;
    padding: 10px 0;

    .header-logo {
        display: inline-block;
        margin: 0 auto;
        color: aliceblue;

        a {
            width: 100%;
            height: 100%;
            
        }
    }
}

.main-btn {
    border: 2px solid #FF8856;
    background-color: #FF8856;
    border-radius: 10px;
    color: aliceblue;
    box-shadow: 2px 2px 10px 0 aliceblue 
}

.header-btn {
    width: 150px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
}
  
.header_button {
    float: right;
    margin-top: 13px;
  }

.header-nav {
    display: flex;
    justify-content: center;
    margin: 5px 0 0;
    padding: 5px;

    .header-nav-itm {
        list-style: none;
        color: antiquewhite;
        text-align: center;
        padding: 0 10px;
    }

    .header-nav-itm + .header-nav-itm {
        border-left: 2px solid antiquewhite;
    }
}

.main {
    width: 60%;
    margin: 10px auto 0;

    .main-box {
        display: flex;

        .main-img {
            width: 50%;
            height: 400px;
        }

        .main-card {
            position: relative;
            width: 50%;
            height: 400px;
            padding: 0 10px;
            text-align: center;
            background-color: #FF9966;

            p {
                text-align: left;
                color: aliceblue;
                font-family: 'Gungsuh';
                margin-top: 70px;
            }

            .test-btn {
                height: 80px;
                position: absolute;
                bottom: 100px;
                left: 100px;

                a {
                    font-size: 30px;
                    width: 100%;
                    height: 100%;
                }
            }

            .test-btn:hover {
                border: #FFAD90;
                background-color: #FFAD90;
            }
        }
    }
}

h2 {
    color: #FFAD90;
    font-family: 'Gungsuh';
}

.status-list {
    padding: 0;
    width: 40%;
    margin: 10px auto;

    .status-item {
        
        list-style: none;
        background-color: #FFAD90;

        .status-image {
            width: 100%;
            height: 300px;;

        }
        .status-code {
            color: aliceblue;
            font-weight: bold;
        }
        .status-dp {
            color: aliceblue;
        }
    }
}
